.test {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	border: 1px solid #CCCCCC;
	line-height: 30px;
	text-indent: 28pt;
}
.link {
	color:#666666;
	font-size: 20px;
	TEXT-DECORATION: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #CCCCCC;
}
.link:hover {
	color:#990000; TEXT-DECORATION: none
}
.test2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 30px;
}
.test1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
}
.tabella {
	background-image: none;
	border: 1px solid #666666;
}
