<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">
  <title>Wi-Auth</title>

<script language="JavaScript" type="text/javascript">
  function CloseItOnClick()		 { window.close(); }
  function CloseItAfterSomeTime() { setTimeout("window.close();", 5 * 1000); }
</script>
</head>

<body onload="CloseItAfterSomeTime();">
  <center>
    <h1>Utente %s uscito dal sistema</h1>
  </center>
  <hr>

  <form>
    <input type="button" value="Close" onclick="CloseItOnClick()">
  </form>
</body>
</html>
