MIME-Version: 1.0
Subject: cardsreq
From: root@test.trust-engine.com
To: cards-request@auth.test.t-unwired.com
Content-Type: multipart/mixed; boundary="_-_as978sd78fd912y_-_1_"

--_-_as978sd78fd912y_-_1_
Content-Type: multipart/mixed; boundary="_-_as978sd78fd912y_-_a_"

--_-_as978sd78fd912y_-_a_
Content-Type: text/xml
Content-Transfer-Encoding: 8bit

<request>
<count value="%s"/>
<validity value="%s"/>
</request>
--_-_as978sd78fd912y_-_a_--
--_-_as978sd78fd912y_-_1_--
