<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Amministrazione</title>
  <link type="text/css" href="/wi-auth/css/layout.css" rel="stylesheet">
</head>

<body>

	<div id="page-wrap">
		<div id="inside">
			
			<div id="header">
				<table class="centered" width="784" border="0">
				  <tr> 
				      <td>
					  <img src="/wi-auth/images/sfondo2_wifi.jpg" width="784" height="251">
				      </td>
				  </tr>
				</table>
			</div>
		
			<div id="left-sidebar-no-dimension">
			</div>
	
			<div id="main-content-without-sidebar">
				<table class="centered" border="0">

					<tr>
					<th><h1>Amministrazione</h1></th>
					</tr>

					<tr>
						<td class="header">
							<a href="/recovery">RECOVERY UTENTE</a>
						</td>
					</tr>

					<tr>
						<td class="header">
							<a href="/view_user">DATI UTENTE</a>
						</td>
					</tr>
					<tr>
						<td class="header">
							<a href="/status_network">STATUS NETWORK</a>
						</td>
					</tr>
					<tr>
						<td class="header">
							<a href="/printlog">VIEW LOG</a>
						</td>
					</tr>
					<tr>
						<td class="header">
							<a href="/admin/cgi-bin/statistics.sh">STATISTICHE</a>
						</td>
					</tr>
					<tr>
						<td class="header">
							<a href="http://172.19.32.18/admin">SNMP</a>
						</td>
					</tr>
				</table>
			</div>
			
			<div style="clear: both;"></div>
			
			<div id="footer">
			</div>
		
		</div>
		<div style="clear: both;"></div>
	</div>
</body>

</html>

