<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">

  <title>Siena WiFi</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
.test {
            BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 30px; TEXT-INDENT: 28pt; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-SIZE: 24px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
    }
  </style>
  <style type="text/css">
.link {
            BACKGROUND-COLOR: #cccccc; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #666666; font-SIZE: 20px; font-WEIGHT: bold; TEXT-DECORATION: none
    }
    .link:hover {
            COLOR: #990000; TEXT-DECORATION: none
    }
    .test2 {
            LINE-HEIGHT: 30px; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-SIZE: 14px
    }
  </style>
  <style type="text/css">
.test1 {
            font-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-SIZE: 14px
    }
    .tabella {
            BACKGROUND-IMAGE: none; BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid
    }
  </style>
</head>

<body>
  <form method="post" action="/login">
    <input value="10_piazze" name="realm" type="hidden">

    <table class="tabella" border="0" width="750" align="center">
      <tbody>
        <tr>
          <td>
            <div align="center">
              <a href="http://www.sienadigitale.it/" target="_blank"><img alt="Siena Digitale" src="/wi-auth/images/logoSD.gif" border="0"></a>
            </div>
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td class="test2">
            <div align="center">
              <h2>Apple Safari</h2><br>
              Per aggiungere il certificato di CA a Apple Safari, si deve utilizzare l'applicazione "Accesso Portachiavi" che si trova nella distribuzione di Mac OS X.<br>
              <br>
              Per installare il certificato segui questi passi<br>
              <br>
              Scarica il file <a href="/CA/ServerCA.crt">da qui</a>. Sara' memorizzato sul tuo desktop<br>
     	      Fai un doppio click sul file 'serverca.crt'. Partirá 'applicazione "Accesso Portachiavi"<br> 
	      Per verificare il certificato, seleziona il bottone 'Mostra certificati' situato sulla sinistra della finestra. Si aprirá un'altra finestra che visualizza le informazioni del certificato. Assicurati che i seguenti valori siano corrispondenti:
              <br>
              Fingerprints<br>
              <br>
              SHA1: 99:9E:70:2A:53:16:3C:06:94:6A:A9:32:8B:6B:27:79:B8:27:3E:69<br>
              MD5: E4:A1:6C:CF:EC:55:DD:01:43:8F:F9:01:DB:7A:6D:D3<br>
              <br>
              Seleziona 'X509Anchors' dal menu a tendina 'Portachiavi' e premi 'OK'.<br>
              Ti sará chiesto di autenticarti. Successivamente il certificato sará installato nel sistema<br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <table border="0" width="100%">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                </tr>

                <tr>
                  <td>&nbsp;</td>

                  <td class="test2" bgcolor="#CCCCCC" width="90%">
                    <div align="center">
                      <font size="5">Se non sei un utente registrato, recati presso i nostri uffici di Siena siti in via Fontebranda 65.</font>
                    </div>
                  </td>

                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td background="/wi-auth/images/skyline.gif" height="176">
            <div class="test2" align="center">
              Il Wi-Fi scende in piazza
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>
