<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>T-Services www.tunwired.com</title>
  <link rel="stylesheet" type="text/css" href="/wi-auth/css/style.css" />
</head>

<body>
  <!-- Import jquery -->
  <script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/jquery-1.2.1.min.js">
</script><script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/jquery.curvycorners/rounded_corners_lite.inc.js">
</script><!-- plugin per i corner -->
  <script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/effetti.js">
</script>
	<!-- Begin Wrapper -->

  <div id="wrapper">
    <!-- Begin Header -->

    <div id="header">
      <table class="table_header">
        <tr>
          <td>
            <div class="logo_link"><img src="/wi-auth/images/logo_t.service_NoSfondo.png" /></div>
          </td>

          <td>
            <!-- Begin Logo -->

            <div class="logo">
              <p id="lineone"><span>T-UNWIRED</span></p><!-- End logo -->
            </div>
          </td>
        </tr>
      </table>
    </div><!-- End Header -->
    <!-- Begin Content -->

    <div id="content">
      <!-- Begin Double Box -->

      <div id="doublebox">
        <table class="content_table">
          <tbody>
            <tr>
              <td>
                <div class="content_center">
                  <!-- Begin Login -->

                  <div class="login" id="loginbox">
                    <form method="post" action="/wi-auth/cgi-bin/login.sh">
							 <!--
                      <input type="hidden" name="mac" value="" />
							 <input type="hidden" name="ip" value="" />
							 <input type="hidden" name="redirect" value="" />
							 <input type="hidden" name="gateway" value="" />
							 <input type="hidden" name="timeout" value="" />
							 <input type="hidden" name="token" value="" />
							 <input type="hidden" name="ap" value="" />
							 -->
                      <ul>
                        <li id="titolo">LOGIN</li><!-- Begin Login_box -->

                        <li style="list-style: none; display: inline">
                          <div class="login_box">
                            <ul>
                              <li class="login_item">Login:</li>

                              <li style="list-style: none"><input class="login_input" type="text" name="uid" /></li>

                              <li class="login_item">Password:</li>

                              <li style="list-style: none"><input class="login_input" type="password" name="pass" /></li>

                              <li><input id="login_button" type="submit" name="submit" value="Entra" /></li><!-- End login_box -->
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </form><!-- End Login --><!-- End Content Center -->
                  </div>
                </div>
              </td><!-- FINE prima COLONNA-->
            </tr>

            <tr>
              <td>
                <div class="content_center_bottom">
                  Tutti i link sono accessibili dopo l'accesso.
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="clear"></div><!-- End Double Box -->
      </div>
    </div><!-- End Content -->
    <!-- Begin Footer -->

    <div id="footer">
      <div id="footer_logo">
        <p>Designed by</p>

        <p><img src="/wi-auth/images/lv7-logo-small.png" /></p>
      </div>
    </div><!-- End Footer -->
  </div><!-- End Wrapper -->
</body>
</html>
