<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Login</title>
  <link type="text/css" href="/wi-auth/css/layout.css" rel="stylesheet">
</head>

<body>

	  <form method="post" name="form" action="/%s" id="form">
	<div id="page-wrap">
		<div id="inside">
			
			<div id="header">
				<table class="centered" width="784" border="0">
				  <tr> 
				      <td>
					<div align="center">
						  <img src="/wi-auth/images/sfondo2_wifi.jpg" width="784" height="251">
					  </div>
				      </td>
				  </tr>
				</table>
			</div>
		
			<div id="left-sidebar">

				<ul>
				<li><p>Seleziona il cuircuito presso cui si é registrati e inserire le credenziali</p></li>
				</ul>

				<br/>
				<br/>
				<br/>

				<select id="realm" name="realm">

				  <option value="10_piazze">10 Piazze</option>
				  <option value="paas">PAAS</option>

				</select>

			</div>
	
			<div id="main-content">

		          <br/>
		          <br/>

				<div>
				    <p>Login (numero del cellulare):</p>

				    <p><input class="login_input" type="text" name="uid" /></p>

				    <p>Password:</p>

				    <p><input class="login_input" type="password" name="pass" /></p>

				    <p><input id="login_button" type="submit" name="submit" value="Entra" /></p>
				</div>
		          <br/>
		          <br/>
			</div>
			
			<div style="clear: both;"></div>
			
			<div id="footer">
			</div>
		
		</div>
		<div style="clear: both;"></div>
	</div>
			  </form>
</body>

</html>


