<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 1 September 2005), see www.w3.org">

  <title>Wi-Auth</title>
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
<script language="JavaScript" type="text/javascript">

	function doOnLoad(URL, redirurl)
		{
		hotspot_popup = window.open(URL, 'logout_popup', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300');

			  if (redirurl)	 { self.location = redirurl; }
		else if (opener.home) { self.home(); }
		else						 { window.location = "about:home"; }

		self.focus();
		}

</script>
</head>

<body onload="javascript:doOnLoad('?uid=%s&gateway=%s','%s')">
  <blockquote>
    <h1>User %s logged in</h1>
	 <hr>
    <center>
      Please wait while we redirect you to <a href="%s">%s</a>
    </center>
  </blockquote>
</body>
</html>
