<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Visualizzazione dati registrazione utente</title>
  <link type="text/css" href="/wi-auth/css/layout.css" rel="stylesheet">
</head>

<body>

	<div id="page-wrap">
		<div id="inside">
			
			<div id="header">
				<table class="centered" width="784" border="0">
				  <tr> 
				      <td>
					  <img src="/wi-auth/images/sfondo2_wifi.jpg" width="784" height="251">
				      </td>
				  </tr>
				</table>
			</div>
		
			<div id="left-sidebar-no-dimension">

			</div>
	
			<div id="main-content-without-sidebar">
				<br/>
					<center>
					<h1>Visualizzazione dati</h1>
					</center>
				<br/>
				<table class="centered" border="1">
					<tr>
						<th class="header" colspan="2" align="left">Utente&nbsp;&nbsp;&nbsp;%s</th>
					</tr>
					<tr>
						<td class="header">Tempo residuo giornaliero (min.)</td>
						<td class="data_italic">%s</td>
					</tr>
					<tr>
						<td class="header">Traffico residuo giornaliero (MB)</td>
						<td class="data_italic">%s</td>
					</tr>
					<tr>
						<td class="header">Password</td>
						<td class="data_italic">%s</td>
					</tr>
					<tr>
						<td class="header">Scadenza registrazione</td>
						<td class="data_italic">%s</td>
					</tr>
					<tr>
						<td class="header">Validitá (gg)</td>
						<td class="data_italic">%s</td>
					</tr>
					<tr>
						<td class="header">Revocato</td>
						<td class="data_italic">%s</td>
					</tr>
<!--					<tr>
						<td class="header">Identificativo Carta</td>
						<td class="data_italic">%s</td>
					</tr>
-->
				</table>

				<br/>
				<br/>
			</div>

			<div style="clear: both;"></div>
			
			<div id="footer">
				%s
			</div>
		
		</div>
		<div style="clear: both;"></div>
	</div>
</body>

</html>
