<table border="0" cellpadding="5" cellspacing="5">
	<tr><td>Access Points</td><td>%u</td></tr>
	<tr><td>Users Connected</td><td>%u</td></tr>
	<tr><td></td></tr>
	<tr><td align="center"><h2>Current Users</h2></td>
	<table border="1" cellpadding="5">
	 <tr>
	 <th>User name</th>
	 <th>User ID</th>
	 <th>Auth domain</th>
	 <th>IP address</th>
	 <th>MAC address</th>
	 <th>Login time</th>
	 <th>Policy</th>
	 <th>Left min</th>
	 <th>Left MB</th>
	 <th>consume</th>
	 <th>AP status</th>
	 </tr>
