<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it-IT" lang="it-IT">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="PRAGMA" content="NO-CACHE"/>
  <title>Piazze Aperte</title>
  <meta name="test" content="error">
  <link type="text/css" href="/wi-auth/css/layout.css" rel="stylesheet">
  <link type="text/css" href="/wi-auth/css/button.css" rel="stylesheet">
</head>


<body>

	<div id="page-wrap">
		<div id="inside">
			
			<div id="header">
				<a style="position:relative;left:-40px;top:-25px" href="http://www.comune.fi.it"><img src="/wi-auth/images/comune_di_firenze.gif"/></a>
				<a style="position:relative;left:0px;" href="http://www.comune.fi.it"><img src="/wi-auth/images/home01_smaller.jpg"/></a>
				<a style="position:relative;left:40px;top:-10px" href="http://www.provincia.fi.it"><img src="/wi-auth/images/provincia_firenze_t.gif"/></a>
			</div>
		
			<div id="left-sidebar">
			<ul>
				<li class="bigger">
					<a href="http://www.comune.fi.it">Comune di Firenze</a>
				</li>
				<li class="bigger">
					<a href="http://www.provincia.fi.it">Provincia di Firenze</a>
				</li>
			</ul>
			<!-- %s %s %s %s %s -->
			<%s class="button" href="/registrazione"><span id="red">REGISTRATI</span></%s>
			<%s class="button" href="/login"><span id="green">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAVIGA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></%s>
			<%s class="button" href="/logout"><span id="blue">&nbsp;&nbsp;&nbsp;&nbsp;LOGOUT&nbsp;&nbsp;&nbsp;&nbsp;</span></%s>
			<%s class="button" href="/stato_utente"><span id="orange">&nbsp;&nbsp;&nbsp;&nbsp;STATUS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></%s>
			<ul>
				<li class="bigger">
					<a href="/registrazione_stranieri">Registrazione Cittadini stranieri</a>
				</li>
			</ul>

			</div>
	
			<div id="main-content">
			<p>
				Accovacciati sul marciapiede
per un giro gratis su Internet
Cacciatori di reti. Ci sono James ed Ella, australiani. Sulla fioriera siede David, studente spagnolo. Nessuno sa di chi sia la rete senza fili che utilizzano. Li vedi coi computer squadernati all´aperto. Uno che parla con un auricolare e gli occhi fissi dentro il video, uno che digita mail, una che fa ricerche sulla letteratura tedesca. Tutto in strada, senza cartelli o avvisi pubblicitari, senza privacy. Vengono in piazza Salvemini, gli scrocconi del web, passano da qui per navigare gratis....
			</p>
			<p>
Li vedi seduti in terra o sul gradino di un marciapiede con le ginocchia in bocca, accovacciati sul bordo di un cordolo della strada pressati tra i cassonetti e il traffico o pochi metri in là, sulla panchina-aiuola in mezzo a piazza Salvemini dove non c´è mai un posto libero. Si accampano qui gli equilibristi della tastiera, giovani cacciatori di reti ad accessi gratuiti. Ospiti che non bussano per entrare nel web, cliccano e trovano da qualche parte le porte wi-fi aperte.

			</p>
			<p>
Proprio in questa piazza - zona Borgo Albizi - ce n´è una e Internet arriva gratis sullo schermo nelle ore che volete, per il tempo vi pare. E´ nell´aria, un regalo, una pacchia che passa di bocca in bocca e che nel giro di un mese affolla la piazza, la trasforma nella comfort zone dei naviganti globali. Ci passano James ed Ella due che vengono da Sidney e sono da queste parti a studiare l´arte, ci passa David che è un Erasmus spagnolo, Susanna e Gloria, studentesse dell´istituto superiore per le industrie artistiche e tanti altri che non lasciano nome e cognome.
			</p>
		<br/>
		<br/>
		<br/>
			
		<br/>
		<br/>
		<br/>
			</div>
			
			<div style="clear: both;"></div>
			
			<div id="footer">
			</div>
		
		</div>
		
		<div style="clear: both;"></div>
	
	</div>

</body>

</html>
