          <tr>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded"><a href="https://%s/status_ap?gateway=%s&ap=%s">%s</a></td>
          </tr>
