				  </table>
				  </table>
				  <br />
				  <br />
				  <hr noshade="1" />
				  <br />
                        </div>

                        <div style="clear: both;"></div>

                        <div id="footer">
                        %s
                        </div>

                </div>
                <div style="clear: both;"></div>
        </div>
</body>

</html>
