<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="it" xmlns="http://www.w3.org/1999/xhtml" lang="it">
<head>
  <meta name="generator" content="HTML Tidy for Linux (vers 25 March 2009), see www.w3.org" />
  <meta content="text/html; charset=utf-8" http-equiv="content-type" />
  <meta name="description" content="UndaX Captive Portal" />
  <meta name="keywords" content="authorization,login, captive, portal, wireless" />
  <meta name="author" content="Sandro Saccenti" />

  <title>Campi Bisenzio UndaX www.undax.com</title>
  <link rel="stylesheet" type="text/css" href="/wi-auth/css/style.css" />
</head>

<body>
  <!-- Import jquery -->
  <script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/jquery-1.2.1.min.js">
</script><script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/jquery.curvycorners/rounded_corners_lite.inc.js">
</script><!-- plugin per i corner -->
  <script language="JavaScript" type="text/javascript" src="/wi-auth/_jquery/effetti.js">
</script>

  <div id="wrapper">
    <!-- Begin Wrapper -->

    <div id="header">
      <!-- Begin Header -->

      <table class="table_header">
        <tbody>
          <tr>
            <td>
              <div class="logo_link"><img src="/wi-auth/undax_resources/a6.png" width="300" /></div>
            </td>

            <td>
              <div class="logo">
                <!-- Begin Logo -->

                <p id="lineone"><span>Wireless Internet &amp; Services<!--  span--> <!--Template--></span> <span>Campi Bisenzio - Signa<!--  span--> 
                <!--Template--></span></p>
              </div><!-- End logo -->
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- End Header -->

    <div id="content">
      <!-- Begin Content -->

      <div id="doublebox">
        <!-- Begin Double Box -->

        <table class="content_table">
          <tbody>
            <tr>
              <td>
                <div class="content_center">
                  Se vuoi utilizzare la nostra connessione Wi-Fi a larga banda FLAT, acquista la cartina prepagata <b><font color=
                  "orange">Gratta&amp;Naviga</font></b> nei punti vendita autorizzati:

                  <div align="center">
                    <br />
                    <b>La Magoncina Via F. Baracca 25 50013 Campi Bisenzio Tel 055 8998764</b><br />
                    Prezzi:

                    <p><i>1 Giorno Flat : &nbsp;5,00&euro;</i></p>

                    <p><i>3 Giorni Flat : 12,00&euro;</i></p>

                    <p><i>7 Giorni Flat : 20,00&euro;</i></p>
                  </div><!-- Begin Login -->

                  <div style="padding: 0px; position: relative; border-top-width: 0px; border-bottom-width: 0px; background-position: 0px -10px;"
                  class="login" id="loginbox">
                    <form method="post" action="/%s">
							 <input type="hidden" name="mac" value="%s"/>
                      <input type="hidden" name="ip" value="%s"/>
							 <input type="hidden" name="redirect" value="%s"/>
							 <input type="hidden" name="gateway" value="%s"/>
                      <input type="hidden" name="timeout" value="%s"/>
                      <input type="hidden" name="token" value="%s"/>
                      <input type="hidden" name="ap" value="%s"/>
                      <ul>
                        <li id="titolo">LOGIN</li>

                        <li style="list-style: none; display: inline">
                          <div class="login_box">
                            <!-- Begin Login_box -->

                            <ul>
                              <li class="login_item"><label for="name">Inserisci il codice che hai ricevuto via SMS:</label></li>

                              <li class="login_item">Login:</li>

                              <li style="list-style: none"><input class="login_input" name="uid" type="text" /></li>

                              <li class="login_item">Password:</li>

                              <li style="list-style: none"><input class="login_input" name="pass" type="password" /></li>

                              <li><input id="login_button" name="submit" value="Entra" type="submit" /></li>
                            </ul>
                          </div><!-- End login_box -->
                        </li>
                      </ul>
                    </form><!-- End Login --><!-- End Content Center -->
                  </div><br />
                  Cliccando sul pulsante "ENTRA" l'Utente dichiara di aver letto e di accettare integralmente le "Condizioni promozionali" e le
                  "Condizioni generali di fornitura" presso un esercizio commerciale convenzionato per la vendita delle carte <b><font color="orange">Gratta&amp;Naviga</font></b>
						<a href="/wi-auth/undax_resources/CONDIZIONI_GENERALI_v10_UndaX.pdf">
						<img src="/wi-auth/undax_resources/pdf.jpg" alt="Collegamento Condizioni Generali" /></a>
						<br />
						<br />
                  <div class="img_gratta_anteriore">
                    <!-- Begin img_gratta_anteriore -->
                    <a href="/wi-auth/images/fronte_card.jpg"><img src="/wi-auth/images/gratta_ant2.jpg" alt=
                    "Collegamento immagine anteriore del Gratta e Naviga" /></a>
                  </div><!-- End img_gratta_anteriore -->
                </div>
              </td><!-- FINE prima COLONNA-->
            </tr>

            <tr>
              <td>
                <div class="content_center_bottom">
                  Tutti i link sono accessibili dopo l'accesso.
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="clear"></div>
      </div><!-- End Double Box -->
    </div><!-- End Content -->

    <div id="footer">
      <!-- Begin Footer -->

      <div id="footer_logo">
        <p>Designed by</p>

        <p><img src="/wi-auth/images/lv7-logo-small.png" /></p>
      </div>
    </div><!-- End Footer -->
  </div><!-- End Wrapper -->
</body>
</html>
