<div id="main-content-without-sidebar">
<br/>
	<center>
	<h1>Status Network</h1>
	</center>
  <hr noshade="1" />
  <table border="0" cellpadding="5" cellspacing="5">
	 <tr><td>Version</td><td>1.1.0</td></tr>
	 <tr><td>Current Time</td><td>%s</td></tr>
  </table>
  <hr noshade="1"/>
  <br />
  %s
  </table>
  </table>
  <br />
</div>
