  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td><img src="images/sfondo2_wifi.jpg" width="784" height="251"></td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <br>

        <center>
          <h1>%s</h1>
        </center><br>
        <br>
        <br>

        <p class="bigger">Stai facendo il recovery del l'utente: %s</p><br>
        <br>

        <form method="post" name="form" action="%s" id="form">
          <input id="wa_cell" type="hidden" name="wa_cell" value="%s"> <input id="confirm" type="submit" name="submit" value="Confermi?">
        </form><br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div style="clear: both;"></div>

      <div id="footer">
        %s
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
