  <center>
    <h1>Utente %s connesso</h1>
    <hr>

    <blockquote>
      <form method="post" action="logout">
        <input type="hidden" name="uid" value="%s">
        <input type="submit" name="logout" value="LOGOUT">
      </form>
    </blockquote>
  </center>
