  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td>
              <div align="center"><img src="images/sfondo2_wifi.jpg" width="784" height="251"></div>
            </td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-no-dimension">
        <br>
        <h1>%s</h1>
        <br>
        %s
        <br>
        %s
        <br>
      </div>

      <div style="clear: both;"></div>

      <div id="footer">
        %s
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
