  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <div align="center"><img src="images/sfondo2_wifi.jpg" width="784" height="251"></div>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <br>

        <center>
          <h1>Registrazione completa!</h1>
        </center><br>
        <br>
        <br>

        <p>Effettua una chiamata gratuita al numero:</p>

        <center>
          <p style="font-weight:bold;font-size:large;color:green">055 4650034</p>
        </center>

        <p>La chiamata va effettuata con lo stesso cellulare inserito in registrazione. Poiché il numero deve essere visibile al sistema, verificare
        che il tuo cellulare non abbia attivata la funzione "Numero nascosto".</p>

        <p>Dopo il primo squillo la linea cade automaticamente. Quindi conferma che hai fatto la chiamata cliccando il bottone "Conferma". Una volta
        confermato, un server, dopo aver verificato la validitá del contatto, ti invierá on line le credenziali per l'accesso che saranno:</p>

        <p style="font-weight:bold;">Login: il numero del cellulare indicato (%s)</p>

        <p style="font-weight:bold;">Password: numerica assegnata dal server.</p>

        <form method="get" name="form" action="%s" id="form">
          <input id="wa_cell" type="hidden" name="wa_cell" value="%s"> <input id="confirm_call_button" type="submit" name="submit" value="Conferma">
        </form>
      </div>
    </div>
  </div>
