  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td><img src="images/logo_fiwifi.png" style="height:115px;width:457px;"></td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <br>
        <center>
          <h1>Visualizzazione dati</h1>
        </center>
		  <br>

        <table class="centered" border="1">
          <tr>
            <th class="header" colspan="2" align="left">Utente:&nbsp;&nbsp;%s&nbsp;&nbsp;(%s)</th>
          </tr>

          <tr>
            <td class="header">Tempo residuo giornaliero (min.)</td>

            <td class="data_italic">%s</td>
          </tr>

          <tr>
            <td class="header">Traffico residuo giornaliero (MB)</td>

            <td class="data_italic">%s</td>
          </tr>

          <tr>
            <td class="header">Password</td>

            <td class="data_italic">%s</td>
          </tr>

          <tr>
            <td class="header">Scadenza registrazione</td>

            <td class="data_italic">%s</td>
          </tr>

			 <!--
          <tr>
            <td class="header">Validitá (gg)</td>

            <td class="data_italic">%s</td>
          </tr>
			 -->

          <tr>
            <td class="header">Revocato</td>

            <td class="data_italic">%s</td>
          </tr>
          <tr>
             <td class="header">Policy</td>

             <td class="data_italic">%s</td>
          </tr>
        </table><br>
        <br>
      </div>

      <div style="clear: both;"></div>

      <div id="footer">
        %s
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
