  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td>
              <div align="center"><img src="images/sfondo2_wifi.jpg" width="784" height="251"></div>
            </td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <br>
        <br>
        <br>
        <br>

        <div align="center">
          <p class="bigger">I cittadini stranieri per la registrazione possono rivolgersi a</p><a href=
          "http://www.comune.fi.it/opencms/opencms/amm/informare_e_comunicare/urp/"><img src="images/urp.gif" alt="URP del Comune di Firenze"></a>
        </div>
      </div>

      <div style="clear: both;"></div>

      <div id="footer"></div>
    </div>

    <div style="clear: both;"></div>
  </div>
