  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="registerbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow"><img src="images/logo_fiwifi.png" /></div>

        <table width="100%%">
          <tbody>
            <tr>
              <td>
                <h3 class="center">MODULO DI REGISTRAZIONE</h3>
              </td>
            </tr>
          </tbody>
        </table>

        <table width="100%%" bordercolor="#C0C0C0">
          <tr>
            <td colspan="2"><span class="Stile3">I campi contrassegnati dal simbolo * non possono essere omessi</span></td>
          </tr>

          <tr>
            <td valign="top">
              <p class="western" style="background: #b3b3b3"><font face="URW Bookman L, Times New Roman"><font size="2" style=
              "font-size: 9pt"><b>DATI UTENTE:</b></font></font></p>
            </td>
          </tr>
        </table><br />

        <form method="post" name="form" action="%s">
          <table width="100%%" class="racss_formtable">
            <tr>
              <td class="racss_label">Nome:</td>

              <td class="racss_field"><input type="text" id="dati_utente_nome" name="dati_utente_nome" value="%s" /><strong class=
              "Stile3">*</strong></td>
            </tr>

            <tr>
              <td class="racss_label">Cognome:</td>

              <td class="racss_field"><input type="text" id="dati_utente_cognome" name="dati_utente_cognome" value="%s" /><strong class=
              "Stile3">*</strong></td>
            </tr>

            <tr>
              <td class="racss_label">Nato a:</td>

              <td class="racss_field"><input type="text" id="dati_utente_luogo_di_nascita" name="dati_utente_luogo_di_nascita" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Data di Nascita (dd/mm/yyyy):</td>

              <td class="racss_field"><input type="text" id="dati_utente_data_di_nascita" name="dati_utente_data_di_nascita" value="%s" /></td>
            </tr>

				<!--
            <tr>
              <td class="racss_label">Sesso:</td>

              <td class="racss_field"><select id="dati_utente_sesso" name="dati_utente_sesso">
                <option value="M">
                  M
                </option>

                <option value="F">
                  F
                </option>
              </select></td>
            </tr>

            <tr>
              <td class="racss_label">Codice Fiscale:</td>

              <td class="racss_field"><input type="text" id="dati_utente_cf" name="dati_utente_cf" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Indirizzo:</td>

              <td class="racss_field"><input type="text" id="dati_utente_indirizzo" name="dati_utente_indirizzo" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Comune:</td>

              <td class="racss_field"><input type="text" id="dati_utente_comune" name="dati_utente_comune" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Provincia:</td>

              <td class="racss_field"><input type="text" id="dati_utente_provincia" name="dati_utente_provincia" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Cap:</td>

              <td class="racss_field"><input type="text" id="dati_utente_cap" name="dati_utente_cap" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Tipo di documento:</td>

              <td class="racss_field"><select id="dati_utente_tipo_di_documento" name="dati_utente_tipo_di_documento">
                <option value="ci">
                  Carta di identita'
                </option>

                <option value="patente">
                  Patente di guida
                </option>

                <option value="passaporto">
                  Passaporto
                </option>
              </select></td>
            </tr>

            <tr>
              <td class="racss_label">Num. documento:</td>

              <td class="racss_field"><input type="text" id="dati_utente_numero_documento" name="dati_utente_numero_documento" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Emesso da:</td>

              <td class="racss_field"><input type="text" id="dati_utente_ente_di_emissione" name="dati_utente_ente_di_emissione" value="%s" /></td>
            </tr>

            <tr>
              <td class="racss_label">Rilasciato il (dd/mm/yyyy):</td>

              <td class="racss_field"><input type="text" id="dati_utente_data_rilascio" name="dati_utente_data_rilascio" value="%s" /></td>
            </tr>
				-->

            <tr>
              <td valign="top" colspan="2">
                <p class="western" style="background: #b3b3b3"><font face="URW Bookman L, Times New Roman"><font size="2" style=
                "font-size: 9pt"><b>CREDENZIALI DI ACCESSO:</b></font></font></p>
              </td>
            </tr>

            <tr>
              <td class="racss_label">Cellulare:</td>

              <td class="racss_field">+39 <select id="cellulare_prefisso" name="cellulare_prefisso">
                <option value="xxx">
                  Scegli
                </option>

					 <!--
                <option value="055">
                  055
                </option>
				    -->

                <option value="320">
                  320
                </option>

                <option value="323">
                  323
                </option>

                <option value="327">
                  327
                </option>

                <option value="328">
                  328
                </option>

                <option value="329">
                  329
                </option>

                <option value="330">
                  330
                </option>

                <option value="331">
                  331
                </option>

                <option value="333">
                  333
                </option>

                <option value="334">
                  334
                </option>

                <option value="335">
                  335
                </option>

                <option value="336">
                  336
                </option>

                <option value="337">
                  337
                </option>

                <option value="338">
                  338
                </option>

                <option value="339">
                  339
                </option>

                <option value="340">
                  340
                </option>

                <option value="343">
                  343
                </option>

                <option value="345">
                  345
                </option>

                <option value="346">
                  346
                </option>

                <option value="347">
                  347
                </option>

                <option value="348">
                  348
                </option>

                <option value="349">
                  349
                </option>

                <option value="360">
                  360
                </option>

                <option value="363">
                  363
                </option>

                <option value="366">
                  366
                </option>

                <option value="368">
                  368
                </option>

                <option value="377">
                  377
                </option>

                <option value="380">
                  380
                </option>

                <option value="388">
                  388
                </option>

                <option value="389">
                  389
                </option>

                <option value="390">
                  390
                </option>

                <option value="391">
                  391
                </option>

                <option value="392">
                  392
                </option>

                <option value="393">
                  393
                </option>
              </select>
				  <input type="text" id="dati_utente_telefono_cellulare" name="dati_utente_telefono_cellulare" value="%s" />
				  <strong class="Stile3">*</strong>
				  </td>
            </tr>

            <tr>
              <td valign="top" colspan="2">
                <p class="western" style="background: #b3b3b3"><font face="URW Bookman L, Times New Roman"><font size="2" style=
                "font-size: 9pt"><b>PASSWORD: dovrà contenere almeno una lettera minuscola ed un numero e dovrà essere di almeno 8 caratteri</b></font></font></p>
              </td>
            </tr>
            <tr>
              <td class="racss_label">Password:</td>
              <td class="racss_field"><input type="password" id="dati_utente_password" name="dati_utente_password" value="" />
				  <strong class="Stile3">*</strong>
				  </td>
            </tr>
            <tr>
              <td class="racss_label">Conferma password:</td>
              <td class="racss_field"><input type="password" id="dati_utente_password_conferma" name="dati_utente_password_conferma" value="" />
				  <strong class="Stile3">*</strong>
				  </td>
            </tr>
          </table>

          <table width="100%%" border="1" bordercolor="#C0C0C0">
            <tr>
              <td valign="top">
                <p class="western" style="background: #b3b3b3"><font face="URW Bookman L, Times New Roman"><font size="2" style=
                "font-size: 9pt"><b>Tutela privacy</b></font></font></p>
              </td>
            </tr>
          </table>

          <table width="100%%" border="1" bordercolor="#C0C0C0">
            <tr valign="top">
              <td width="100%%" style="padding:0.2em;">
              <textarea style="width:100%%;border:0px solid gray;" rows="10">
%s
</textarea></td>
            </tr>

            <tr>
              <td class="racss_field">Sono consapevole che in mancanza del mio consenso il servizio non potra' essere erogato.</td>
            </tr>

            <tr>
              <td nowrap="nowrap"><label>Accetto</label> <input type="checkbox" id="privacy_accepted" value="1" class="checkbox" /></td>
            </tr>
          </table>
          <hr />
          <br />
          <input type="reset" value="Reset" /><input type="submit" name="submit" value="Registrazione" />
        </form>
        <br />
        <br />
        <br />
        <br />
		  <script type="text/javascript">
//<![CDATA[
        var valComm1 = new LiveValidation( 'dati_utente_nome', {onlyOnSubmit: true, validMessage: "OK" } );
        valComm1.add( Validate.Presence, {failureMessage: "Devi inserire il nome"} );
        //valComm1.add( Validate.Format, {pattern: /^([A-Za-z '\-]+)$/, failureMessage: "nome non valido"} );
        var valComm2 = new LiveValidation( 'dati_utente_cognome', {onlyOnSubmit: true, validMessage: "OK" } );
        valComm2.add( Validate.Presence, {failureMessage: "Devi inserire il cognome"} );
        //valComm2.add( Validate.Format, {pattern: /^([A-Za-z '\-]+)$/, failureMessage: "cognome non valido"} );
        var valComm3 = new LiveValidation( 'dati_utente_luogo_di_nascita', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm3.add( Validate.Presence, {failureMessage: "Devi inserire il luogo di nascita"} );
        //valComm3.add( Validate.Format, {pattern: /^([A-Za-z '\-.]+)$/, failureMessage: "luogo di nascita non valido"} );
        var valComm4 = new LiveValidation( 'dati_utente_data_di_nascita', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm4.add( Validate.Presence, {failureMessage: "Devi inserire la data di nascita"} );
        valComm4.add( Validate.Format, {pattern: /^[\d]{1,2}\/[\d]{1,2}\/[\d]{4}$/, failureMessage: "data di nascita non valida"} );
        //var valComm5 = new LiveValidation( 'dati_utente_cf', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm5.add( Validate.Presence, {failureMessage: "Devi inserire il codice fiscale"} );
        //valComm5.add( Validate.Format, {pattern: /^[A-Za-z]{6}[\d]{2}[A-Za-z]{1}[\d]{2}[A-Za-z]{1}[\d]{3}[A-Za-z]{1}$/, failureMessage: "codice fiscale non valido"} );
        //var valComm6 = new LiveValidation( 'dati_utente_indirizzo', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm6.add( Validate.Presence, {failureMessage: "Devi inserire l'indirizzo"} );
        //var valComm7 = new LiveValidation( 'dati_utente_comune', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm7.add( Validate.Presence, {failureMessage: "Devi inserire il comune"} );
        //valComm7.add( Validate.Format, {pattern: /^([A-Za-z '\-.]+)$/, failureMessage: "comune non valido"} );
        //var valComm8 = new LiveValidation( 'dati_utente_provincia', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm8.add( Validate.Presence, {failureMessage: "Devi inserire la provincia"} );
        //valComm8.add( Validate.Format, {pattern: /^([A-Za-z ]+)$/, failureMessage: "provincia non valida"} );
        //var valComm9 = new LiveValidation( 'dati_utente_cap', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm9.add( Validate.Presence, {failureMessage: "Devi inserire il cap"} );
        //valComm9.add( Validate.Numericality, {onlyInteger: true, notANumberMessage: "cap non valido"} );
        //var valComm10 = new LiveValidation( 'dati_utente_numero_documento', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm10.add( Validate.Presence, {failureMessage: "Devi inserire il numero documento"} );
        //valComm10.add( Validate.Format, {pattern: /^\w{1,}$/, failureMessage: "numero documento non valido"} );
        //var valComm11 = new LiveValidation( 'dati_utente_ente_di_emissione', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm11.add( Validate.Presence, {failureMessage: "Devi inserire l'ente di emissione"} );
        //var valComm12 = new LiveValidation( 'dati_utente_data_rilascio', {onlyOnSubmit: true, validMessage: "OK" } );
        //valComm12.add( Validate.Presence, {failureMessage: "Devi inserire la data di rilascio"} );
        //valComm12.add( Validate.Format, {pattern: /^[\d]{1,2}\/[\d]{1,2}\/[\d]{4}$/, failureMessage: "data di rilascio non valida"} );
        var valComm13 = new LiveValidation('cellulare_prefisso', {onlyOnSubmit: true, validMessage: "OK" });
        valComm13.add( Validate.Format, {pattern: /^([0-9]+)/, failureMessage: "Devi scegliere il prefisso"} );
        var valComm14 = new LiveValidation( 'dati_utente_telefono_cellulare', {onlyOnSubmit: true, validMessage: "OK" } );
        valComm14.add( Validate.Presence, {failureMessage: "Devi inserire il numero di cellulare"} );
        valComm14.add( Validate.Numericality, {onlyInteger: true, notANumberMessage: "numero di cellulare non valido"} );
        valComm14.add( Validate.Exclusion, { within: [ ' ' ], allowNull: true, partialMatch: true, caseSensitive: false, failureMessage: "sono presenti spazi nel numero" } );
        var valComm15 = new LiveValidation( 'dati_utente_password', {onlyOnSubmit: true, validMessage: "OK" } );
        valComm15.add( Validate.Presence, {failureMessage: "Devi inserire la password"} );
        var valComm16 = new LiveValidation( 'dati_utente_password_conferma', {onlyOnSubmit: true, validMessage: "OK" } );
        valComm16.add( Validate.Presence, {failureMessage: "Devi inserire la conferma password"} );
        var valComm17 = new LiveValidation('privacy_accepted', {onlyOnSubmit: true, validMessage: "OK" });
        valComm17.add(Validate.Acceptance, {failureMessage: "Devi confermare di aver letto ed accettare la privacy"} );

        //]]>
        </script>
      </div>
    </div>
  </div>
