  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td>
              <div align="center"><img src="images/sfondo2_wifi.jpg" width="784" height="251"></div>
            </td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <br>

        <center>
          <h1>Ti ringraziamo per avere usato il servizio Firenze WiFi, arrivederci</h1>
        </center><br>
        <br>
        <br>
        %s
      </div>

      <div style="clear: both;"></div>

      <div id="footer"></div>
    </div>

    <div style="clear: both;"></div>
  </div>
