
  <div id="containerBig">
    <div id="wrapperAuto">
      <div id="loginbox" style="width:100%%;height:100%%;padding:0px;margin:0px;">
        <div id="menulogo" class="menurow">
				<img src="images/logo_fiwifi.png" />
		  </div>

        <center><h1>Ti ringraziamo per avere usato il servizio Firenze WiFi, arrivederci</h1></center>
		  <br />
		  <br />
		  %s
        <div style="clear: both;"></div>
        <div id="footer"></div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
