          <tr>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded" align="right">%s</td>
            <td class="padded" align="right">%s</td>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded">%s</td>
            <td class="padded" style=\"color:%s\">%s</td>
            <td class="padded"><a href="admin_status_ap?ap=%s">%s</a></td>
          </tr>
