	<div id="page-wrap">
		<div id="inside">
			<div id="header">
				<table class="centered" width="784" border="0">
				  <tr> 
				     <td><img src="images/sfondo2_wifi.jpg" width="784" height="251"></td>
				  </tr>
				</table>
			</div>
		
			<div id="left-sidebar-no-dimension"></div>
	
			<div id="main-content-without-sidebar">
			<br/>
				<center>
				<h1>Unwired Network</h1>
				</center>

			  <hr noshade="1" />

			  <table border="0" cellpadding="5" cellspacing="5">
			    <tr><td>Version</td><td>1.1.0</td></tr>
			    <tr><td>Current Time</td><td>%s</td></tr>
			  </table>
			  <hr noshade="1"/>
			  <br />
			  <table border="0" cellpadding="5" cellspacing="5">
					<tr><td>Access Points</td><td>%u</td></tr>
					<tr><td>Users Connected</td><td>%u</td></tr>
					<tr><td></td></tr>
					<tr><td align="center"><h2>Current Users</h2></td>

				<table border="1" cellpadding="5">
				  <tr>
				    <th>User UID</th>
				    <th>IP address</th>
				    <th>MAC address</th>
				    <th>Access Point</th>
				  </tr>

