  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td><img src="images/sfondo2_wifi.jpg" width="784" height="251"></td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
		<br/>
        <center>
          <h1>Stato utente</h1>
        </center>

        <hr noshade="1">

        <table border="0" cellpadding="5" cellspacing="0">
          <tr><td>Version</td><td>1.1.0</td></tr> 
          <tr><td>Current Time</td><td>%s</td></tr>
        </table>
        <hr noshade="1">
		  <br />
        <table border="0" cellpadding="5" cellspacing="0">
          <tr><td>Access Point</td><td>%s</td></tr>
          <tr><td></td></tr>
			 <tr><td align="center"><h2>Current User</h2></td>

			 <table border="1" cellpadding="5">
          <tr>
            <th>User UID</th>
            <th>IP address</th>
            <th>Connection time</th>
            <th>Elapsed connection time</th>
            <th>Left connection time</th>
            <th>Consumed traffic</th>
            <th>Left traffic</th>
            <th>MAC address</th>
            <th>Status</th>
          </tr>
		    %s
          </table>
          </table>
          <br />
          <br />

      <div id="footer">
        %s
      </div>
    </div>
  </div>
