  <div id="page-wrap">
    <div id="inside">
      <div id="header">
        <table class="centered" width="784" border="0">
          <tr>
            <td><img src="images/sfondo2_wifi.jpg" width="784" height="251"></td>
          </tr>
        </table>
      </div>

      <div id="left-sidebar-no-dimension"></div>

      <div id="main-content-without-sidebar">
        <center>
          <h1>%s</h1>
        </center>%s
      </div>

      <div style="clear: both;"></div>

      <div id="footer">
        %s<br>
        <br>
        %s
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
