<table border="0" cellpadding="5" cellspacing="5">
	<tr><td>Access Points</td><td>%u</td></tr>
	<tr><td>
	<tr><td align="center"><h2>Current Status</h2></td>
	<table border="1" cellpadding="5">
	 <tr>
	 <th>Label</th>
	 <th>IP address</th>
	 <th>Hostname</th>
	 <th>Up</th>
	 <th>Last update</th>
	 <th>Consume</th>
	 <th>MAC authorized</th>
	 <th>Group account</th>
	 <th><a href="http://%s/edit_ap">Insert</a></th>
	 </tr>
