 <tr>
	<td class="padded">%.*s</td>
	<td class="padded"><a href="http://%s/webif_ap?ap=%.*s@%.*s&public=%.*s:%u">%.*s</a></td>
	<td class="padded">%.*s</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded" style="color:%s">%s</td>
	<td class="padded">%#3D</td>
	<td class="padded">%.*s</td>
	<td class="padded">%.*s</td>
	<td class="padded"><a href="http://%s/edit_ap?ap=%.*s@%.*s&public=%.*s:%u">Edit</a></td>
 </tr>
