  <table class="centered" border="1">
	 <tr>
		<th class="header" colspan="2" align="left">Utente:&nbsp;&nbsp;%s&nbsp;&nbsp;(%s)</th>
	 </tr>

	 <tr>
		<td class="header">Tempo residuo giornaliero (min.)</td>

		<td class="data_italic">%s</td>
	 </tr>

	 <tr>
		<td class="header">Traffico residuo giornaliero (MB)</td>

		<td class="data_italic">%s</td>
	 </tr>

	 <tr>
		<td class="header">Password</td>

		<td class="data_italic">%s</td>
	 </tr>

	 <tr>
		<td class="header">Scadenza registrazione</td>

		<td class="data_italic">%s</td>
	 </tr>

	 <!--
	 <tr>
		<td class="header">Validitá (gg)</td>
		<td class="data_italic">%s</td>
	 </tr>
	 -->

	 <tr>
		<td class="header">Revocato</td>

		<td class="data_italic">%s</td>
	 </tr>
	 <tr>
		 <td class="header">Policy</td>

		 <td class="data_italic">%s</td>
	 </tr>
  </table>
